body{
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
}
.hidden{
    display: none;
}
#card{
    background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    height:400px;
    width:400px;
}