body{
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(hsl(213, 19%, 15%), hsl(216, 12%, 11%));
    height: 400px;
    width: 390px;
    padding: 20px 0px 20px 25px;
    border-radius: 20px;
}
.hidden{
    display: none;
}
.top-icon, .dig{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: hsl(213, 19%, 18%);
    transition: 0.3s;
}
#card h1{
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}
#card p{
    color: rgba(149, 158, 172, 0.7);
    margin-top: 0;
    width: 350px;
}
.nums-div{
    display: flex;
    color: rgba(149, 158, 172, 0.7);
    font-size: 14px;
    gap: 14px;
}
.dig:hover{
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}
.selected{
    background-color: hsl(217, 12%, 63%);
}
.btn{
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 360px;
    height: 45px;
    transition: background-color 0.5s, color 0.5s;
}
.btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}
.btn:active{
    transform: translateY(2px);
}
.thanksCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(hsl(213, 19%, 15%), hsl(216, 12%, 11%));
    height: 400px;
    width: 365px;
    padding: 20px 25px 20px 25px;
    border-radius: 20px;
    align-items: center;
}
.selected-result{
    padding: 4px 20px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 14px;
    background-color: hsl(213, 19%, 18%);
    color: rgba(251, 116, 19, 0.7);
}
.thanksCard h1{
    color: #fff;
    margin-bottom: 0;
}
.thanksCard p{
    color: rgba(149, 158, 172, 0.7);
    text-align: center;
    line-height: 1.5;
    margin-top: 0;
}
